
<form class="form-inline my-2 my-lg-0" >
  <input class="form-control mr-sm-2" type="search" placeholder="Search Comments" >
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Comments</button>
</form>

<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search Lenses" >
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Lenses</button>
</form>

<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search Location" >
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Location</button>
</form>

<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search Photoshoot" name='keyword' >
  <button class="btn btn-outline-success my-2 my-sm-0" >Photoshoot</button>
</form>

